:root {
  --navbarWidth     : 90vw; /* Set width of navbar. Use px for a fixed width 
                                or vw for a percentage of your window. */
  --animationSpeed  : 0.5s;
}

.titlebar-buttonbox-container {
    /*display:none;*/
    visibility: collapse;
}
#nav-bar {
    min-height: 36px !important;
    box-shadow: none !important;
}
.titlebar-spacer {
    /*display:none;*/
    visibility: collapse;
}

#back-button{ 
    display: none !important 
}

/* Forward Hide */
#forward-button{ 
    display: none !important 
}

#urlbar {
    border-radius: var(--urlbar-icon-border-radius)!important;
    width: 50% !important;
    left: 25% !important;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

#PersonalToolbar {
    display: none !important 
}

#TabsToolbar {
    display: none !important 
}




    /*chrome://browser/content/browser.xhtml*/
